# ide dir
.vscode/
*.code-workspace

# project dir
venv/
__pycache__/
build/
assistant.egg-info/

# dev file
.ruff_cache
assistant.session.sql

# env file
.env

# output dir
/src/static/speech/

# kube manifest
/cluster/audio_output/
/cluster/instance/

# db
/instance/
.sqlite